/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
  cursor: pointer
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-delete-user {
  margin-left: 5pt;
  text-align: center;
  box-sizing: content-box;
}

.submittion-buttons {
  margin-top: 5pt;
}